body{
	margin: 0;

}

.normalHeader {
	background:white;
	color:black;
}

header {
	background:#0066FF ;
	color:white ;
	padding: 15px 15px 0 15 px;

}

header h1{
	margin: 0;
}

nav ul {
	margin: 0;
	display:inline ;
}

nav ul li {
	background: #00CCFF;
	color: white;
	display: inline-block;
	list-style-type: none;
	padding: 5px 15px;


}

nav ul li a{
	color: white;
}